doctype html
html(lang='en')
    head
        include VARS
        block args
        title= title + " | UkuApp"
        link(rel='stylesheet', href='./styles/style.css')

    body(onload=('menuHighlighting(' + "'" + title + "'" + ')' + onLoadFunc))
        main
            header
                a(href= '/').logo-link
                    div.logo
            nav
                ul
                    a(href= '/'): li(name='navli')= 'Home'
                    each val in menuItems
                        a(href= val.replace(' ', '-') + '.html'): li(name='navli')= val

            div.wrap
                block CONTENT
        footer
            div.footer-content
                div.footer-content-info
                    p.footer-text=footerDesc
                div.footer-content-info
                    p.footer-text=footerDesc
    script(src='./scripts/all.js')