
- var menuItems = ['positions', 'chords', 'progressions', 'transpose']
- var footerDesc = ''
- var descriptions = {home: "Home page desc", positions: "Positions page desc",chords: "Chords page desc",progressions: "progressions page desc", transpose: "transpose prog decs"}