
- var menuItems = ['Positions', 'Chords', 'Progressions', 'Transpose']
- var footerDesc = 'Greatly hearted has who believe. Drift allow green son walls years for blush. Sir margaret drawings repeated recurred exercise laughing may you but. Do repeated whatever to welcomed absolute no. Fat surprise although outlived and informed shy dissuade property. Musical by me through he drawing savings an. No we stand avoid decay heard mr. Common so wicket appear to sudden worthy on. Shade of offer ye whole stood hoped.'
- var descriptions = {home: "Home page desc", positions: "Positions page desc",chords: "Chords page desc",progressions: "progressions page desc", transpose: "transpose prog decs"}