extends layout/layout.pug
block args
    - var title = 'Progressions'
    - var onLoadFunc = ', progressions_init()'
block CONTENT
    div.content
        h2 Progressions
        p.pageDesc= footerDesc


