extends layout/layout.pug
block args
    - var title = 'Transpose'
    - var onLoadFunc = ', transpose_init()'
    - var scaleRoots = ["C", "C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B","Cm", "C#m", "Dm", "D#m", "Em", "Fm", "F#m", "Gm", "G#m", "Am", "A#m", "Bm"];
block CONTENT
    div.content
        h2 Transpose
        p.pageDesc=descriptions.transpose
        div.prog-board
            select(class="transpose-chord-selector btn")
                each val in scaleRoots
                    option(value=val)=val
        button(class="prog-board-add-btn prog-board-btn btn", onclick="addChordToTranspose()") Add Chord
        button(class="prog-board-add-btn prog-board-btn btn", onclick="addSeparator()") Add Separator
        div.control-panel-btns
            button(class="prog-board-btn btn", onclick="up()")= "/\\"
            button(class="prog-board-btn btn", onclick="down()")= "\\/"
            span.pageDesc#transposing-counter Transposing counter: 0
            button(class="prog-board-btn btn", onclick="clearProg()")= "Clear Progression"
            button(class="prog-board-btn btn", onclick="relax()")= "RELAX"
        div.prog-board-wrap
            span(class="prog-board-text") Board #1
            div.prog-board-chords






